/* Joonas Nuutinen - Portfolio
 * assets/css/style.css
 *
 * The main style file.
 */

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.site-logo {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.project__image {
  width: 100%;
  height: auto;
}
