/* Joonas Nuutinen - Portfolio
 * assets/css/style.css
 *
 * The main style file.
 */

/*
  ============================================================================
  # Page
  ============================================================================
*/

* {
  box-sizing: border-box;
}

.page {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  background: #fefefe;
  background: #fdfdfd;
}

a,
a:visited {
  color: royalblue;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 1rem 0;
}

/*
  ============================================================================
  # Header
  ============================================================================
*/

.header {
  background: white;
  box-shadow: 0 1px 4px #aaa;
}

.logo-container {
  max-width: 900px;
  margin: 0 auto;
  padding: .5rem;
  text-align: center;
}

.site-logo {
  width: 100%;
  height: auto;
  max-width: 250px;
}

/*
  ============================================================================
  # Title & navigation
  ============================================================================
*/

.page-title {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}

.page-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-nav__item {
  margin-bottom: .25em;
}

/*
  ============================================================================
  # Content
  ============================================================================
*/

.content {
  max-width: 900px;
  margin: 0 auto;
}

/*
  ============================================================================
  # Section
  ============================================================================
*/

.section {
  padding: .5rem;
}

.section__title {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}

/*
  ============================================================================
  # Project
  ============================================================================
*/

.project {
  clear: both;
  padding: .5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 4px #aaa;
  background: white;
  *zoom: 1;
}

.project:before,
.project:after {
  content: "";
  display: table;
}

.project:after {
  clear: both;
}

.project__title {
  margin: 0 0 .5rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-bottom: .25rem;
}

.project__image {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-bottom: 1rem;
}

/*
  ============================================================================
  # Footer
  ============================================================================
*/

.footer {
  position: relative;
  padding: .5rem 0;
  background: white;
  box-shadow: 0 1px 4px #aaa;
}

.footer__content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 .5rem;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 0;
  list-style-type: none;
}

.social-media__item {
  margin: 0 10px;
}

.social-media__logo {
  width: 30px;
  height: auto;
}

/*
  ============================================================================
  # Medium screens
  ============================================================================
*/

@media screen and (min-width: 540px) {
  .project {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/*
  ============================================================================
  # Large screens
  ============================================================================
*/

@media screen and (min-width: 760px) {  
  .project__image {
    width: 40%;
    float: right;
    margin-left: .5rem;
    margin-bottom: .5rem;
  }
}